body{
  background-image: linear-gradient(#97A4EB, rgb(19, 2, 82));
  margin-top: 60px;
}

main {
  background-color: linear-gradient(#97A4EB, rgb(19, 2, 82));
  margin: 0 auto;
  max-width: 1920px;
  min-width: 480px;
  padding: 32px;
  width: 100%;
}

nav {
  margin: 0;
  overflow: hidden;
}

.dataTableContainer {
  display: inline-table;
  width: auto;
  border: 1px solid black;
  background-color: #97A4EB;
  padding: 16px;
  border-radius: 8px;
  margin: 12px;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  background-color: white;
  max-width: 300px;
  margin: 10px auto;
  border-radius: 12px;
  padding: 4px;
}

h1 {
  max-width: 400px;
}

table {
  background-color:  rgb(218, 171, 179);
  border: 1px solid black;
  margin: 20px auto;
  width: auto;
  box-shadow: 4px 4px 8px 4px rgb(113, 123, 179);
}

tr:nth-child(even) {
  background-color:  rgb(218, 171, 179);
}

tr:nth-child(odd) {
  background-color:  rgb(211, 128, 141);
}

.popupform tr:nth-child(even) {
  background-color: white;
}

.popupform tr:nth-child(odd) {
  background-color: white;
}

th {
  text-align: right;
  font-size: 1.2em;
  padding: 4px 12px;
}

td {
  border: none;
  font-size: 1.2em;
  min-width: 30px;
  padding: 4px 8px;
}

button,
input[type="submit"] {
  border-radius: 8px;
  cursor: pointer;
  display: block;
  font-size: 1.2em;
  margin: 12px auto;
  padding: 8px;
  text-align: center;
}