.calendar {
  background-image: linear-gradient(#97A4EB, rgb(19, 2, 82));
  margin: auto;
  max-width: 2000px;
  overflow: hidden;
  width: auto;
}

#year,
.year-previous,
.year-next,
#month,
.month-previous,
.month-next {
  line-height: 2em;
  font-size: 1.5em;
  margin: 0 auto;
  padding: 12px;
  text-align: center;
}

.year-previous button,
.month-previous button,
.year-next button,
.month-next button {
  background-color: rgb(188, 195, 231);
  border-radius: 8px;
  border: 1px solid rgb(160, 172, 235);
  cursor: pointer;
  margin: auto;
  font-size: 1.2em;
  transition: color .3s;
}

.year-previous button:hover,
.month-previous button:hover,
.year-next button:hover,
.month-next button:hover {
  background-color: #4A5FCE;
}

.year-previous,
.month-previous {
  text-align: right;
}

.year-next,
.month-next {
  text-align: left;
}

#year, #month{
  min-width: 150px;
}

.view-year {
  margin: auto;
  text-align: center;
  width: 100%;
}

.view-year table {
  margin: auto;
  padding: 0;
  text-align: center;
  width: 100%;
}

.view-year th {
  display: inline-block;
  text-align: center;
  width: auto;
  margin: auto;
}

.view-year td {
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
}

.odd-month,
.even-month {
  color: #fff;
  cursor: pointer;
  display: inline-block;
  height: 100px;
  margin: 0 -4px;
  padding: 4px;
  text-align: center;
  transition: background-color 0.3s;
  width: 32%;
}

.odd-month {
  background-color: #2B43C1;
}

.odd-month .month-label {
  background-color: #1229A1;
}

.even-month {
  background-color: #1229A1;
}

.even-month .month-label {
  background-color: #2B43C1;
}

.view-year .odd-month:hover,
.view-year .even-month:hover {
  background-color: #97A4EB;
}

.month-label,
.this-month-label {
  border-radius: 8px;
  font-size: 1.5em;
  margin: 2px auto;
  max-width: 120px;
  min-width: 90px;
  padding: 4px;
  text-align: center;
  width: 30%;
}

.this-month-label {
  background-color: rgb(172, 72, 88);
}

.view-month {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  white-space: nowrap;
}

.day-of-week-label {
  background-color: #4A5FCE;
  border-bottom: #000 solid 3px;
  color: #000000;
  font-size: 1.3em;
  height: 50px;
  line-height: 2.5em;
  text-align: center;
  width: 14.39%;
}

.odd-day,
.even-day,
.blank-day {
  cursor: pointer;
  font-size: 12px;
  height: 75px;
  text-align: center;
  transition: background-color 0.3s;
  width: 14.39%;
  vertical-align: text-top;
}

.odd-day {
  background-color: #2B43C1;
}

.odd-day .day-label {
  background-color: #1229A1;
}

.even-day {
  background-color: #1229A1;
}

.even-day .day-label {
  background-color: #2B43C1;
}

.view-month .odd-day:hover,
.even-day:hover {
  background-color: #97A4EB;
}

.blank-day {
  background-color: lightgray;
  cursor: default;
}

.day-label,
.to-day-label {
  border-radius: 12px;
  color: #ffffff;
  float: right;
  font-size: 14pt;
  height: 30px;
  line-height: 1.7em;
  margin: 3px;
  opacity: .8;
  text-align: center;
  width: 30px;
}

.to-day-label {
  background-color: rgb(172, 72, 88);
}

.view-week {
  background: #fff;
  cursor: pointer;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.view-week th {
  min-height: 80px;
  border: black 1px solid;
}

.view-week th {
  text-align: center;
  width: 10%;
  min-width: 20px;
  font-size: 2em;
}

.view-week td {
  width: 90%;
}

.view-day {
  color: green;
}



@media only screen and (max-width: 768px) {}

@media only screen and (min-width: 480px) {

  .this-month,
  .odd-month,
  .even-month {
    font-size: 1.8em;
    height: 120px;
  }

  .to-day,
  .odd-day,
  .even-day,
  .blank-day {
    font-size: 13px;
    height: 100px;
  }
}