.items h3 {
  background-color: rgb(194, 192, 211);
  border-bottom: 3px solid black;
  font-size: 1.5em;
  padding: 12px 0;
  text-align: center;
  margin-top: 30px;
}

.itemsTable {
  text-align: left;
  width: 100%;
  margin-bottom: 30px;
}

.itemsTable form {
  text-align: right;
}

.itemsTable input[type="submit"],
.itemsTabe button {
  padding: 8px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 14pt;
}

.itemsTable th,
.itemsTable td {
  padding: 4px;
}

.itemsTable th {
  text-align: left;
}

.itemsTable td {
  text-align: left;
}

.itemDateYearView {
  font-size: 2em;
  width: 30%;
  min-width: 100px;
}

.itemDateMonthView {
  background-color:  #2B43C1;
  border-radius: 32px;
  color: white;
  font-size: 2em;
  margin: 8px;
  min-width: 25px;
  padding: 4px;
  text-align: center;
  width: 10%;
}

.itemsTable .itemName {
  font-size: 20pt;
}

.itemStartTimeLabel,
.itemEndTimeLabel {
  font-size: 1.2em;
}

.itemStartTime,
.itemEndTime {
  font-size: 1.5em;
}