h1 {
    font-size: 3em;
}

#section-signup {
    display: none;
}

#section-login,
#section-signup {
    margin: 5px auto;
    max-width: 480px;
    width: 98%;
}

th {
    min-width: 120px;
}

label {
    display: block;
    font-size: 1.2em;
    font-weight: 100;
    text-align: right;
}

input {
    border-color: lightblue;
    border-radius: 4px;
    display: block;
    font-size: 1.4em;
    margin: 8px;
    padding: 4px;
    width: 300px;
}

input[type="submit"] {
    cursor: pointer;
    font-size: 1.5em;
    height: 60px;
    margin: 8px auto;
    width: 150px;
}

#show-signup,
#show-login {
    cursor: pointer;
    display: block;
    margin: 20px auto;
    text-align: center;
    width: 80%;
    font-size: 1.2em;
}