h1 {
  font-size: 3em;
}

#section-login-admin,
#section-signup {
  display: none;
}

#section-login,
#section-login-admin,
#section-signup {
  margin: 5px auto;
  max-width: 480px;
  width: 100%;
  text-align: center;
}

#section-login table,
#section-login-admin table,
#section-signup table {
  width: 100%;
}

th {
  min-width: 120px;
}

label {
  display: block;
  font-size: 1.5em;
  font-weight: 300;
  padding-top: 16px;
  text-align: center;
}

input {
  border-color: lightblue;
  border-radius: 4px;
  display: block;
  font-size: 1.5em;
  margin: 8px auto;
  padding: 4px;
  width: 90%;
  max-width: 360px;
}

input[type="password"] {
  font-size: 2em;
}

input[type="submit"] {
  cursor: pointer;
  font-size: 1.5em;
  height: 60px;
  margin: 8px auto;
  width: 150px;
}

#show-signup,
#show-login-admin,
#hide-login-admin,
#show-login {
  color: darkblue;
  cursor: pointer;
  display: block;
  font-size: 1.2em;
  font-weight: 500;
  margin: 20px auto;
  text-align: center;
  width: 80%;
}

#show-login-admin:hover,
#hide-login-admin:hover,
#show-signup:hover,
#show-login:hover {
  font-weight: 600;
}

footer {
  font-size: 1em;
  margin: 0;
  margin-top: 50px;
  padding: 24px 0;
  text-align: center;
  width: 100%;
  min-height: 100px;
}

footer a {
  cursor: pointer;
  text-decoration: none;
}

#show-login-admin {
  display: none;
}