body {
  min-width: 480px;
  min-height: 1080px;
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding: 60px 0;
  width: 100%;
}

section {
  width: 100%;
  padding: 0;
}

form {
  padding: 0;
}

table {
  border-collapse: collapse;
  margin: auto;
}

header {
  background-color: none;
  height: auto;
  margin: 0;
  text-align: center;
  width: 100%;
}

.errorMsg {
  color: red;
  text-align: center;
}

@media only screen and (min-width: 1080px) {}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 480px) {}