.popupform {
  background-color: rgb(173, 177, 233);
  border-bottom: 15px solid #111;
  color: rgb(43, 4, 4);
  display: none;
  height: 100%;
  left: 0;
  margin: 0 auto;
  opacity: 0.95;
  padding: 8px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 99%;
  z-index: 10;
}

.popupform form {
  padding: 16px;
}

.popupform form table {
  width: 100%;
}

.popupform th,
.popupform td {
  text-align: center;
  width: 100%;
  margin: auto;
  border: none;
}

.popupform form label {
  font-size: 1.5em;
  padding-top: 16px;
}

.popupform form input,
.popupform select,
#changePasswordButton {
  width: 90%;
  max-width: 360px;
  text-align: left;
  margin: 8px auto;
  padding: 4px;
  font-size: 1.8em;

}

.popupform input[type="submit"],
#changePasswordButton {
  text-align: center;
  margin: 10px auto;
}

.close-button {
  background-color: lightcoral;
  border-radius: 16px;
  border: 1px #000000 solid;
  float: right;
  font: 'Arial Black';
  font-size: 1.5em;
  font-weight: bold;
  height: 40px;
  margin: 8px 32px;
  padding: 4px;
  width: 40px;
}

.close-button:hover {
  background-color: rgb(241, 94, 94);
  cursor: pointer;
}